/.projectile
/.auctex-auto/
/*.gz
/*.xml
*.log
/*.out
/*.aux
/*.bbl
/*.bcf
/*.blg
/*.fdb_latexmk
/*.fls
/00-helpers/.auctex-auto/
*.Rhistory
/.DS_Store
*/.Rhistory
/02-plots+code/.DS_Store
*/.Rhistory
